

<section
  class="section parallax-hero hero--main"
  role="banner"
  aria-labelledby="page-hero-title"
>
  <div class="content-center">
    <div class="container">

      <div class="ml-auto mr-auto" style="padding-top: 150px;">
         <div class="hero__header__container">
          <h1 id="page-hero-title" class="hero__title"  data-rellax-speed="-2">My Deacons Basketball Club&trade; MEMBERSHIP</h1>
          <h1 id="page-hero-subtitle" class="hero__title subtitle"  data-rellax-speed="-2" ></h1>
        </div>

      </div>

      <div class="row">
        <div class="ml-auto mr-auto" style="padding-top: 0px;">
          <div class="">
            <h6 class="card-category text-success align-left" style="font-size:xx-large;">
              <span class="title text-success">Propel my career.</span>&nbsp;
              <span class="title text-info">Propel my child.</span>&nbsp;
              <span class="title text-danger">Propel my team.</span>&nbsp;
            </h6>
          </div>
       </div>
      </div>
    </div>
  </div>
</section>
