/* You can add global styles to this file, and also import other style files */
//@import "bootstrap/scss/bootstrap.scss";

.ngx-toastr {
    width: 100% !important;  // Specify toastr-dialog width for all devices
}

app-root:empty::after {
    content: "Loading...................";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}




