


<!-- FOOTER -->
<footer class="footer footer-big footer-dark" role="contentinfo" aria-labelledby="site-footer-heading">
  <div class="filter filter-black" aria-hidden="true"></div>

  <div class="container">
    <h2 id="site-footer-heading" class="visually-hidden">Deacons Basketball Club Footer</h2>

    <div class="row align-items-start gy-4">
        <!-- COMPANY INFO -->
        <div class="col-6 col-sm-4 col-md-2 d-flex flex-column">
            <p class="footer-description text-gray mt-2">
                Deacons Basketball Club — Barbados’ Premier Youth Basketball &amp; Development Program.
                Where <strong>passion meets purpose</strong>, Deacons Basketball Club is dedicated to shaping the next generation of 
                <em>young-basketballers in Barbados</em>.
                Through structured <strong>training, academics, and mentorship</strong>, we develop confident, disciplined players who 
                excel <strong>on the court and in the classroom</strong>.
                From <strong>grassroots to elite levels</strong>, our mission is to build champions with <strong>character, teamwork, 
                    and opportunity</strong> — proving that at Deacons, <em>Hard Work Always Pays Off.</em>
            </p>
        </div>

        
        
                      
        <!-- GUARDS -->
        <div class="col-6 col-sm-4 col-md-2 d-flex flex-column">
          <nav aria-label="Guards">
            <p class="text-uppercase footer-heading mb-2">Point Guards</p>
            <ul class="links stacked-links list-unstyled m-0">
                <li>
                    <a [routerLink]="['/'+urlPath+'/']" fragment="IkorosBrathwaite" aria-label="Point Guard" 
                    [class.active-link]="point_guards['IkorosBrathwaite']"
                    [class.disabled-link]="!point_guards['IkorosBrathwaite']" >Ikoros Brathwaite</a>
                </li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="KemaniMaynard" aria-label="Point Guard" [class.active-link]="point_guards['KemaniMaynard']"
                    [class.disabled-link]="!point_guards['KemaniMaynard']" >Kemani Maynard</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="DanielToppin" aria-label="Point Guard" [class.active-link]="point_guards['DanielToppin']"
                    [class.disabled-link]="!point_guards['DanielToppin']" >Daniel Toppin</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="JordanBlackman" aria-label="Point Guard" [class.active-link]="point_guards['JordanBlackman']"
                    [class.disabled-link]="!point_guards['JordanBlackman']" >Jordan Blackman</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="JeromeArthur" aria-label="Point Guard" [class.active-link]="point_guards['JeromeArthur']"
                    [class.disabled-link]="!point_guards['JeromeArthur']" >Jerome Arthur</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="MicahDuke" aria-label="Point Guard" [class.active-link]="point_guards['MicahDuke']"
                    [class.disabled-link]="!point_guards['MicahDuke']" >Micah Duke</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="DarioRice" aria-label="Point Guard" [class.active-link]="point_guards['DarioRice']"
                    [class.disabled-link]="!point_guards['DarioRice']" >Dario Rice</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="MikkelWiltshire" aria-label="Point Guard" [class.active-link]="point_guards['MikkelWiltshire']"
                    [class.disabled-link]="!point_guards['MikkelWiltshire']" >Mikkel Wiltshire</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="NoahBlai" aria-label="Point Guard" [class.active-link]="point_guards['NoahBlai']"
                    [class.disabled-link]="!point_guards['NoahBlai']" >Noah Blai</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="RohanBishop" aria-label="Point Guard" [class.active-link]="point_guards['RohanBishop']"
                    [class.disabled-link]="!point_guards['RohanBishop']" >Rohan Bishop</a></li>
            </ul>
          </nav>
        </div>
      
        <!-- SHOOTING GUARDS -->
        <div class="col-6 col-sm-4 col-md-2 d-flex flex-column">
          <nav aria-label="Guards">
            <p class="text-uppercase footer-heading mb-2">Shooting Guards</p>
            <ul class="links stacked-links list-unstyled m-0">
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="IsaacGriffith" aria-label="Shooting Guard"  
                [class.active-link]="shooting_guards['IsaacGriffith']"
                [class.disabled-link]="!shooting_guards['IsaacGriffith']" >Isaac Griffith</a></li>
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="AriMottleySquires" aria-label="Shooting Guard" [class.active-link]="shooting_guards['AriMottleySquires']"
                [class.disabled-link]="!shooting_guards['AriMottleySquires']" >Ari-Mottley Squires</a></li>
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="ImmanuelBlai" aria-label="Shooting Guard" [class.active-link]="shooting_guards['ImmanuelBlai']"
                [class.disabled-link]="!shooting_guards['ImmanuelBlai']" >Immanuel Blai</a></li>
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="TajCox-Mayers" aria-label="Shooting Guard" [class.active-link]="shooting_guards['TajCoxMayers']"
                [class.disabled-link]="!shooting_guards['TajCoxMayers']" >Taj Cox-Mayers</a></li>
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="AliMohammad" aria-label="Shooting Guard" [class.active-link]="shooting_guards['AliMohammad']"
                [class.disabled-link]="!shooting_guards['AliMohammad']" >Ali Mohammad</a></li>
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="JoshuaMaxwell" aria-label="Shooting Guard" [class.active-link]="shooting_guards['JoshuaMaxwell']"
                [class.disabled-link]="!shooting_guards['JoshuaMaxwell']" >Joshua Maxwell</a></li>
            </ul>
          </nav>
        </div>

        <!-- FORWARDS -->
        <div class="col-6 col-sm-4 col-md-2 d-flex flex-column">
          <nav aria-label="Training Services">
            <p class="text-uppercase footer-heading mb-2">Forwards</p>
            <ul class="links stacked-links list-unstyled m-0">
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="AhrenFrancis" aria-label="Forward" [class.active-link]="forwards['AhrenFrancis']"
                    [class.disabled-link]="!forwards['AhrenFrancis']" >Ahren Francis</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="XavierBoyce" aria-label="Forward" [class.active-link]="forwards['XavierBoyce']"
                    [class.disabled-link]="!forwards['XavierBoyce']" >Xavier Boyce</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="AidanOMeally" aria-label="Forward" [class.active-link]="forwards['AidanOMeally']"
                    [class.disabled-link]="!forwards['AidanOMeally']" >Aidan O'Meally</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="TevezBryan-Cadogan" aria-label="Forward" [class.active-link]="forwards['TevezBryanCadogan']"
                    [class.disabled-link]="!forwards['TevezBryanCadogan']" >Tevez Bryan-Cadogan</a></li>
                <li><a [routerLink]="['/'+urlPath+'/']" fragment="KirkPatrick-Forde" aria-label="Forward" [class.active-link]="forwards['KirkPatrickForde']"
                    [class.disabled-link]="!forwards['KirkPatrickForde']" >Kirk Patrick-Forde</a></li>
            </ul>
          </nav>
        </div>
      
        <!-- CENTERS -->
        <div class="col-6 col-sm-4 col-md-2 d-flex flex-column">
          <nav aria-label="Sport-Specific Training">
            <p class="text-uppercase footer-heading mb-2">Centers</p>
            <ul class="links stacked-links list-unstyled m-0">
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="RhysCozier" aria-label="Center" [class.active-link]="centers['RhysCozier']"
                [class.disabled-link]="!centers['RhysCozier']" >Rhys Cozier</a></li>
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="KristopherRogers" aria-label="Center" [class.active-link]="centers['KristopherRogers']"
                [class.disabled-link]="!centers['KristopherRogers']" >Kristopher Rogers</a></li>
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="XavierFrancis" aria-label="Center" [class.active-link]="centers['XavierFrancis']"
                [class.disabled-link]="!centers['XavierFrancis']" >Xavier Francis</a></li>
              <li><a [routerLink]="['/'+urlPath+'/']" fragment="LanceSimmons" aria-label="Center" [class.active-link]="centers['LanceSimmons']"
                [class.disabled-link]="!centers['LanceSimmons']" >Lance Simmons</a></li>
            </ul>
          </nav>
        </div>
      

        <!-- ATTEND A PRACTICE -->
        <div class="col-12 col-sm-8 col-md-2 d-flex flex-column">
          <div class="mt-2">
            <a [routerLink]="['/'+urlPath+'/contact']"
                class="btn btn-main btn-lg w-100 text-start"
                aria-label="Start your journey with Deacons Basketball Club">
              <i class="nc-icon nc-time-alarm"></i>&nbsp;
              <span class="fw-bold">Attend a Practice</span>
            </a>
          </div>

          <!--
          <div class="black-lives-matter mt-3">
            <span class="fw-bold">Black Lives Matter.</span>
            <div>
              <a target="_blank" rel="noopener noreferrer"
                 href="https://support.eji.org/give/153413/#!/donation/checkout">
                <span class="text-danger">Support the Equal Justice Initiative.</span>
              </a>
            </div>
          </div>
          -->
        </div>
      </div>

  </div>
</footer>

<!-- FOOTER: bottom bar -->
<footer class="footer footer-bottom footer-dark" role="contentinfo" aria-labelledby="site-footer-bottom">
  <div class="filter filter-black" aria-hidden="true"></div>
  <div class="container">
    <h2 id="site-footer-bottom" class="visually-hidden">Deacons Basketball Club Footer</h2>

    <!-- one flex row that balances 3 zones -->
    <div class="footer-bar">
      <!-- Left: brand -->
     
      <a class="footer-brand d-inline-flex align-items-center brand"
         [routerLink]="['barbados']"
         title="Deacons Basketball Club — Barbados"
         itemprop="url" rel="home" aria-label="Deacons Basketball Club — Barbados Home">
            <img src="assets/img/logos/internal/icon.png"
             alt="Deacons Basketball Club — Barbados logo"
             class="logo-icon" decoding="async" fetchpriority="high" />
             <h4 class="brand-title ms-2 mb-0">Deacons Basketball Club</h4>
        </a>
      
      <!-- Right: Deacons -->
      <h4 class="brand-title ms-2 mb-0" style="margin-top: -10px;">Deacons</h4>
    </div>

    <!-- one flex row that balances 3 zones -->
    <div class="footer-bar">

      <!-- Left: social -->
      <div class="footer-brand d-inline-flex align-items-center brand text-color-white">
        <div class="ms-3" style="padding-right: 20px;">
          <strong>© Copyright BC Deacons.</strong> Official website of Deacons Basketball Club. &nbsp;&nbsp;
        </div>
      </div>

      <!-- Center: links -->
      <div class="footer-social text-white">
        <a [routerLink]="'/'+urlPath+'/barbados'">Home</a><span class="text-white">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a [routerLink]="'/'+urlPath+'/deacons'">Who We Are</a><span class="text-white">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a [routerLink]="'/'+urlPath+'/register'">Register</a><span class="text-white">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a [routerLink]="'/'+urlPath+'/academy'">Academies</a><span class="text-white">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <!--
        <a [routerLink]="'/'+urlPath+'/programs'">Programs</a><span class="text-white">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        -->
        <a [routerLink]="'/'+urlPath+'/contact'">Contact Us</a>
      </div>

      <!-- Right: copyright -->
      <small class="footer-copy text-color-white">
        &nbsp;
      </small>
    </div>
  </div>
</footer>



  

  

