
<header id="ipaas" name="ipaas" class="page-header header-section-image div-dark separator-bottom-card"
style="background-image: url('img/sections/heading-home-1.png')">
    <div class="filter filter-black"></div>

  <div class="container">
    <div class="row separator-bottom-header-neutral">
      <div class="ml-auto mr-auto" style="padding-top: 150px;">
        <h1 class="text-uppercase text-left page-header-1 white-text" style="font-weight: 400;">
           Why Join Varsity Sports Academy Prep&trade;?
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="ml-auto mr-auto" style="padding-top: 0px;">
        <div class="">
          <h6 class="card-category text-success text-left" style="font-size:xx-large;">
            <span class="title text-success">Propel my career.</span>&nbsp;
            <span class="title text-info">Propel my child.</span>&nbsp;
            <span class="title text-danger">Propel my team.</span>&nbsp;
          </h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-6-sm box-outter box-inner">
        <h4 class="title text-uppercase text-primary" style="margin-top: -8%;">
          <strong>I am a member.</strong>
        </h4>
        <img
          class="avatar"
          src="img/icons/icon-sign-in.png"
        />
        <br>
        <button type="submit" *ngIf="!loginDisplay" 
        class="btn btn-wd btn-lg btn-primary btn-magnify text-uppercase" style="font-size: 2.0em;line-height: 2.2;"
        (click)="signIn()">
        <i class="nc-icon nc-badge"></i> &nbsp; Sign In &nbsp;
        </button>

      </div>  

      <div class="col col-6-sm box-outter box-inner">
        <h4 class="title text-uppercase text-danger" style="margin-top: -8%;">
          <strong>I am not a member.</strong>
        </h4>
        <img
          class="avatar"
          src="img/icons/icon-register.png"
          />
        <br>
        <button type="submit" *ngIf="!loginDisplay" 
          class="btn btn-wd btn-lg btn-danger btn-magnify text-uppercase" style="font-size: 2.0em;line-height: 2.2;"
         (click)="signUp()">
        <i class="nc-icon nc-badge"></i> &nbsp; Sign Up &nbsp;
        </button>

      </div>  

    </div>  
  </div>
</header>

<!--ABOUT US-->
<section class="section separator-top-card" style="padding-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h1 class="section-title">
          What a Varsity Sports Academy&trade; Membership can offer.
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h3 class="section-title-md">Varsity Sports Academy&trade; sports recruiting & performance services.</h3>
        <h5 class="text-left description-section">
          At Varsity Sports Academy&trade;, we are dedicated to helping athletes reach their full potential 
          both on and off the field. Whether you are a high school athlete aspiring to compete at 
          the collegiate level or looking to enhance your performance, 
          our comprehensive services are designed to meet your unique needs.
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-6">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="img\sections\heading-home.png" style="height:300px;"/>                
            </a>
          </div>
          <div class="card-body">
            <h4 class="section-title-md text-uppercase">Athlete Recruiting</h4>
            <p class="description-section text-black text-left" style="padding-top: 20px;">
              <i class="fa fa-check icon-success" aria-hidden="true"></i>
              &nbsp; <span class="title text-primary">Personalized Recruiting Plans:</span>&nbsp;We tailor recruiting strategies to fit each athlete's or coach's goals, ensuring maximum exposure to athletes, coaches and scouts.<br><br>
              
              <i class="fa fa-check icon-success" aria-hidden="true"></i>
              &nbsp; <span class="title text-primary">Highlight Video Production:&nbsp;</span>Professionally crafted highlight videos that showcase the essential characteristics needed by coaches. <br><br>
              
              <i class="fa fa-check icon-success" aria-hidden="true"></i>
              &nbsp; <span class="title text-primary">College Application Assistance:&nbsp;</span>Guidance through the college application process, including essay writing and interview preparation. <br><br>
              
              <i class="fa fa-check icon-success" aria-hidden="true"></i>
              &nbsp; <span class="title text-primary">Scholarship Search & Application:&nbsp;</span>Assistance in identifying and applying for best-fit athletic scholarships.
            </p> 
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>

      <div class="col-md-4 col-6">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="img\sections\sports-Data-Analytics.jpg" style="height:300px;" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="section-title-md text-uppercase">Performance Training</h4>
            <p class="description-section text-black text-left" style="padding-top: 20px;">
              <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <span class="title text-primary">Strength & Conditioning:</span>&nbsp;Customized workout plans designed to improve strength, speed, and agility.<br><br>
              <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <span class="title text-primary">Sports-Specific Skills Training:&nbsp;</span>Focused training to enhance skills essential to your sport.<br><br>
              <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <span class="title text-primary">Nutritional Guidance:&nbsp;</span>Personalized nutrition plans to fuel your body for peak performance.<br><br>
              <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <span class="title text-primary">Mental Conditioning:&nbsp;</span>Techniques and strategies to build mental toughness and enhance focus.
            </p> 
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>

      <div class="col-md-4 col-6">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="img\sections\heading-6.png" style="height:300px;" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="section-title-md text-uppercase">Showcases and Camps</h4>
            <p class="description-section text-black text-left" style="padding-top: 20px;">
              <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <span class="title text-primary">High School Showcases:</span>&nbsp;Varsity Sports Academy&trade; provides the opprotunity for middle school and international strudents to perform in front of US High School coaches and scouts.<br><br>
              <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <span class="title text-primary">College Showcases:</span>&nbsp;Opportunities to perform in front of college coaches and scouts.<br><br>
              <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <span class="title text-primary">Training Camps:&nbsp;</span>Intensive camps to develop skills, fitness, and game intelligence.<br><br>
              <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <span class="title text-primary">Combines:&nbsp;</span>Evaluation events that measure athletic ability and skill level.
            </p> 
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<div id="ipaas" name="ipaas" class="section page-header-xs section-white" style="padding-top: 0px;">
  <div class="filter filter-black"></div>
  <div class="container">
 
    <div class="row">
        <div class="col col-6-sm text-justify">
          <p class="section-title-md">
              Varsity Sports Academy&trade; doesn't just<br>collect — it translates.
          </p>
        </div>
        <div class="col col-6-sm text-justify">
          <p class="description-section">
            When you get started on Varsity Sports Academy&trade;, you set goals for yourself. 
            Varsity Sports Academy then learns your baseline patterns to coach 
            you with custom recommendations on how to tailor your workouts, habits, 
            training programs, and more to unlock your potential.
          </p>
        </div>
    </div>  
  </div>
</div>



