<div id="fixedButton" class="fixed-bottom d-flex" style="justify-content: center;padding-bottom: 20px;">
    <div class="text-center">

      <a class="btn btn-wd btn-lg btn-primary btn-magnify text-uppercase" *ngIf="!shouldDisplayLogin && !shouldDisplayMembershipPage && shouldDisplayJoinNow"
      href="{{urlPath}}/membership" style="font-size: 2.0em;line-height: 2.2;">
         <i class="nc-icon nc-badge"></i> &nbsp; Join Now &nbsp;
      </a>

      <a class="btn btn-wd btn-lg btn-primary btn-magnify text-uppercase" *ngIf="shouldDisplayLogin && shouldDisplayJoinNow"
      href="{{workspacePath}}/dashboard" style="font-size: 2.0em;line-height: 2.2;">
         <i class="nc-icon nc-badge"></i> &nbsp; My Dashboard &nbsp;
      </a>
    </div>
</div>

<script>
   $('body').height();
   $(document).ready(function(){
      $(window).scroll(function() {
         if ($('body').height() <= ($(window).height() + $(window).scrollTop())) {
               $('fixedBottom').hide();
         }
      });
   });
</script>