


<!-- FOOTER -->
<footer class="footer footer-big footer-dark" role="contentinfo" aria-labelledby="site-footer-heading">
  <div class="filter filter-black" aria-hidden="true"></div>

  <div class="container">
    <h2 id="site-footer-heading" class="visually-hidden">Varsity Sports Academy Prep Footer</h2>

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto col-12">
        <div class="row">

            <!-- COMPANY INFO -->
            <div class="col-sm-2 col-6">
                <p class="text-uppercase footer-heading mb-2">Company Info</p>
                <nav aria-label="Company Info" class="footer-logo">
                    <ul class="links stacked-links list-unstyled m-0">
                        <li><a [routerLink]="['student-athletes']">Home</a></li>
                        <li><a [routerLink]="['sports-academics-prep']">Who We Are</a></li>
                    </ul>
                </nav>
                <p class="footer-description text-gray">
                    <strong>Varsity Sports Academy&trade;</strong> empowers <em>student-athletes</em> to take control of their <em>academic progress</em> and <em>athletic development</em>. 
                    Our program connects athletes, coaches, and recruiters through verified digital recruiting profiles — making it easier to gain exposure and achieve your goals. 
                    <strong>Simplify your path to scholarships and sports success.</strong>
                  </p>
            </div>

            <!-- ADVISORY SERVICES -->
            <div class="col-sm-2 col-6">
                <nav aria-label="Advisory Services">
                    <p class="text-uppercase footer-heading mb-2">Advisory Services</p>
                    <ul class="links stacked-links list-unstyled m-0">
                        <li><a [routerLink]="['consultation']" fragment="Professional-Consultation" aria-label="Professional-Consultation">Professional Consultation</a></li>
                        <li><a [routerLink]="['consultation']" fragment="Private-Assessment">Private Assessment</a></li>
                        <li><a [routerLink]="['contact']" fragment="Improvement-Game-Plan">Improvement Game Plan</a></li>
                        <li><a [routerLink]="['contact']" fragment="Performance-Clinic">Performance Clinic</a></li>
                    </ul>
                </nav>
            </div>

            <!-- TRAINING SERVICES -->
            <div class="col-sm-2 col-6">
                <nav aria-label="Training Services">
                    <p class="text-uppercase footer-heading mb-2">Training Services</p>
                    <ul class="links stacked-links list-unstyled m-0">
                        <li><a [routerLink]="['sports-development']" fragment="Private-1-on-1-Training">Private 1-on-1 Training</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Group-Training">Group Training</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Strength-Training">Strength Training</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Performance-Training">Performance Training</a></li>
                    </ul>
                </nav>
            </div>

            <!-- SPORTS SPECIFIC -->
            <div class="col-sm-2 col-6">
                <nav aria-label="Sport-Specific Training">
                    <p class="text-uppercase footer-heading mb-2">Sport-Specific</p>
                    <ul class="links stacked-links list-unstyled m-0">
                        <li><a [routerLink]="['sports-development']" fragment="Soccer-Training">Soccer Training</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Basketball-Training">Basketball Training</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Field-Hockey-Training">Field Hockey Training</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Cricket-Training">Cricket Training</a></li>
                    </ul>
                </nav>
            </div>

            <!-- SPORTS DIRECTORY -->
            <div class="col-sm-2 col-6">
                <nav aria-label="Sports Directory">
                    <p class="text-uppercase footer-heading mb-2">Sports</p>
                    <ul class="links stacked-links list-unstyled m-0">
                        <li><a [routerLink]="['sports-development']" fragment="Soccer">Soccer</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Basketball">Basketball</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Field-Hockey">Field Hockey</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Cricket">Cricket</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Track-and-Field">Track &amp; Field</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Football">Football</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Tennis">Tennis</a></li>
                        <li><a [routerLink]="['sports-development']" fragment="Baseball">Baseball</a></li>
                     </ul>
                </nav>
            </div>

            <!-- SCHEDULE CONSULTATION -->
            <div class="col-sm-2 col-sm-2">
                <div class="text-left">
                    <a [routerLink]="['/'+urlPath+'/consultation']" 
                        class="btn btn-main btn-lg"
                        aria-label="Start your journey with Varsity Sports Academy Prep"
                        style="line-height: 2.2;">
                        <i class="nc-icon nc-time-alarm"></i>&nbsp; 
                        <span class="fw-bold text-start">Schedule Consultation</span>
                    </a>
                </div>

                <div class="black-lives-matter" style="width:100%;">
                    <span class="fw-bold text-start">Black Lives Matter.</span>
                    <div>
                        <a class="" target="_blank" rel="noopener noreferrer" href="https://support.eji.org/give/153413/#!/donation/checkout">
                          <span class="text-danger">Support the Equal Justice Initiative.</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>

  </div>
</footer>

<!-- FOOTER -->
<footer class="footer footer-white" role="contentinfo" aria-labelledby="site-footer-heading">
  <div class="filter filter-black" aria-hidden="true"></div>

  <div class="container">
    <h2 id="site-footer-heading" class="visually-hidden">Varsity Sports Academy Prep Footer</h2>

    <!-- Social row -->
    <div class="row mt-4">
      <div class="col-md-12 col-sm-12">


        <div class="col-md-4 col-sm-12">
            <a class="footer-brand" [routerLink]="['/', lang, 'academic-tutoring-and-sports-training']" title='Varsity Sports Academy | Empowering Student Athletes through Academics and Sports' style="text-decoration: none; margin-top: -20px;">
                <img src="assets/img/logos/internal/logo.png" height="40"  />
            </a>        
        </div>

        <div class="col-md-8 col-sm-12 copyright copyright-pull-up" >
            <app-social-plugin></app-social-plugin>
            <!-- Optional: legal line -->
            <small class="d-block mt-3">© 2025 Varsity Sports Academy Prep. All rights reserved.</small>
        </div>
        
      </div>
    </div>
  </div>
</footer>

