<!-- The social media icon bar -->
<div class="icon-bar">
    <a href="https://www.instagram.com/DeaconsBasketball/" target="_blank" rel="noopener noreferrer" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/DeaconsBasketball/" target="_blank" rel="noopener noreferrer" class="facebook"><i class="fa fa-facebook"></i></a>
    <!--
    <a href="https://www.youtube.com/channel/UCWmLuxcAjTkWTQWqvP0UCAg/" target="_blank" rel="noopener noreferrer" class="youtube"><i class="fa fa-youtube"></i></a>
    <a href="https://www.twitter.com/VarsitySportsAcademy/" target="_blank" rel="noopener noreferrer" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/VarsitySportsAcademy/" target="_blank" rel="noopener noreferrer" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.pinterest.com/VarsitySportsAcademy/" target="_blank" rel="noopener noreferrer" class="pinterest"><i class="fa fa-pinterest"></i></a>
    -->
</div>
