<nav class="social-plugin" aria-label="Social Media">
  <a href="https://www.instagram.com/DeaconsBasketball/" target="_blank" rel="noopener noreferrer"
    class="btn btn-link  btn-magnify" aria-label="Follow Deacons Basketball Club on Instagram">
    <i class="fa fa-instagram"></i>
  </a>
  <a href="https://www.facebook.com/DeaconsBasketball/" target="_blank" rel="noopener noreferrer"
    class="btn btn-link  btn-magnify" aria-label="Follow Deacons Basketball Club on Facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <!--
  <a href="https://www.youtube.com/channel/UCWmLuxcAjTkWTQWqvP0UCAg/" target="_blank" rel="noopener noreferrer"
    class="btn btn-neutral btn-link  btn-magnify" aria-label="Watch Deacons Basketball Club on YouTube">
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
  </a>
  <a href="https://www.twitter.com/VarsitySportsAcademy/" target="_blank" rel="noopener noreferrer"
    class="btn btn-neutral btn-link  btn-magnify" aria-label="Follow Deacons Basketball Club on Twitter">
    <i class="fa fa-twitter"></i>
  </a>

  <a href="https://www.linkedin.com/company/VarsitySportsAcademy/" target="_blank" rel="noopener noreferrer"
    class="btn btn-neutral btn-link btn-magnify" aria-label="Connect with Deacons Basketball Club on LinkedIn">
    <i class="fa fa-linkedin-square"></i>
  </a>

  <a href="https://www.linkedin.com/company/VarsitySportsAcademy/" target="_blank" rel="noopener noreferrer"
    class="btn btn-neutral btn-link btn-magnify" aria-label="Connect with Deacons Basketball Club on Pinterest">
    <i class="fa fa-pinterest-p"></i>
  </a>
  -->
</nav>