<!--MEET OUR TEAM-->
<section
  class="team-2 section-image div-dark separator-top-card"
  style="background-image: url('img/sections/section-contact-2.png')"
>
  <div class="filter filter-black"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h1 class="page-header-1 text-white">
          Meet the leadership behind Varsity Sports Academy&trade;.
        </h1>
        <h3 class="section-title-md text-white  ">
          We <i class="fa fa-heart heart"></i>&nbsp; what we do.
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-justify">
        <p class="description-section text-white">
          We know what it’s like to dream about competing in sports. The
          Varsity Sports Academy&trade; staff comprises of former college and pro athletes, and
          coaches who have been through the recruiting process thousands of
          times, both personally and professionally. We have insider tips,
          connections and a vast network of coaches at our fingertips. Varsity Sports Academy&trade; is
          excited to share this knowledge with up-and-coming athletes who have a
          passion for competing in sports. Varsity Sports Academy&trade; staff members are the
          difference that makes Varsity Sports Academy&trade; a truly unique platform.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
                <img class="img" src="img/team/shameika.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Shameika</h4>
            <h6 class="card-category">EXECUTIVE DIRECTOR</h6>
            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
                <img class="img" src="img/team/niki.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Nikisha</h4>
            <h6 class="card-category">DIRECTOR BUSINESS DEVELOPMENT</h6>

            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
                <img class="img" src="img/team/terry.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Terry</h4>
            <h6 class="card-category">DIRECTOR PROFESSIONAL DEVELOPMENT</h6>

            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="img/team/bigga.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Bigga</h4>
            <h6 class="card-category">DIRECTOR RECRUITMENT DEVELOPMENT</h6>

            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>